<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
</head>
<body>
    <header>
        <h1>Bienvenidos a la tienda</h1>
    </header>
    <main>
        {{{body}}} <!-- Aquí se renderizará el contenido específico de cada vista -->
    </main>
    <footer>
        <p>© 2024 Todos los derechos reservados.</p>
    </footer>
</body>
</html>
